USE [master]
GO
/****** Object:  Database [DBClinic]    Script Date: 10/5/2026 5:15:24 PM ******/
CREATE DATABASE [DBClinic]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBClinic', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DBClinic.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBClinic_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DBClinic_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBClinic].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBClinic]
GO
/****** Object:  Schema [app]    Script Date: 10/5/2026 5:15:24 PM ******/
CREATE SCHEMA [app]
GO
/****** Object:  Schema [doc]    Script Date: 10/5/2026 5:15:24 PM ******/
CREATE SCHEMA [doc]
GO
/****** Object:  Schema [inv]    Script Date: 10/5/2026 5:15:24 PM ******/
CREATE SCHEMA [inv]
GO
/****** Object:  Schema [med]    Script Date: 10/5/2026 5:15:24 PM ******/
CREATE SCHEMA [med]
GO
/****** Object:  Schema [pat]    Script Date: 10/5/2026 5:15:24 PM ******/
CREATE SCHEMA [pat]
GO
/****** Object:  Schema [ppl]    Script Date: 10/5/2026 5:15:24 PM ******/
CREATE SCHEMA [ppl]
GO
/****** Object:  Schema [rol]    Script Date: 10/5/2026 5:15:24 PM ******/
CREATE SCHEMA [rol]
GO
/****** Object:  Schema [usr]    Script Date: 10/5/2026 5:15:24 PM ******/
CREATE SCHEMA [usr]
GO
/****** Object:  Table [dbo].[People]    Script Date: 10/5/2026 5:15:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[SecondName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Phone] [varchar](250) NOT NULL,
	[Email] [varchar](250) NULL,
 CONSTRAINT [PK_People] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](250) NOT NULL,
	[Active] [bit] NOT NULL,
	[LastSeen] [datetime] NULL,
	[RoleID] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_Username] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[UsersView]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[UsersView]
AS
SELECT        u.ID, u.PersonID, u.UserName, u.Active, u.LastSeen, p.FirstName, p.SecondName, p.LastName, p.Phone, p.Email, u.RoleID, dbo.Roles.RoleName
FROM            dbo.Users AS u INNER JOIN
                         dbo.People AS p ON p.ID = u.PersonID INNER JOIN
                         dbo.Roles ON u.RoleID = dbo.Roles.ID
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[Specialization] [nvarchar](50) NULL,
	[Notes] [nvarchar](100) NULL,
	[Available] [bit] NOT NULL,
 CONSTRAINT [PK_Doctors] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[DoctorsView]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DoctorsView]
AS
SELECT        dbo.People.FirstName, dbo.People.SecondName, dbo.People.LastName, dbo.People.Phone, dbo.People.Email, dbo.Doctors.Specialization, dbo.Doctors.Available, dbo.Doctors.Notes, dbo.Doctors.ID, dbo.Doctors.PersonID
FROM            dbo.Doctors INNER JOIN
                         dbo.People ON dbo.Doctors.PersonID = dbo.People.ID
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[Age] [tinyint] NULL,
	[Notes] [nvarchar](250) NULL,
 CONSTRAINT [PK_Patients] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[PatientsView]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[PatientsView] as
SELECT        People.FirstName, People.SecondName, People.LastName, People.Phone, People.Email, Patients.Status, Patients.Age, Patients.Notes
FROM            Patients INNER JOIN
                         People ON Patients.PersonID = People.ID
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NOT NULL,
	[Datetime] [date] NOT NULL,
	[status] [tinyint] NOT NULL,
	[Notes] [nvarchar](100) NULL,
	[DoctorID] [int] NOT NULL,
	[MedicalRecordID] [int] NULL,
	[InvoiceID] [int] NULL,
 CONSTRAINT [PK_Appointments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[Amount] [decimal](8, 2) NOT NULL,
	[Method] [tinyint] NOT NULL,
	[Status] [tinyint] NOT NULL,
 CONSTRAINT [PK_Invoices] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalRecords]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalRecords](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentID] [int] NOT NULL,
	[Diagnosis] [nvarchar](250) NOT NULL,
	[Prescription] [nvarchar](250) NULL,
	[Notes] [nvarchar](250) NULL,
 CONSTRAINT [PK_MedicalRecords] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Doctors] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctors] ([ID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Doctors]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Invoices] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Invoices] ([ID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Invoices]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Patients] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patients] ([ID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Patients]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [FK_Doctors_People] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([ID])
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [FK_Doctors_People]
GO
ALTER TABLE [dbo].[MedicalRecords]  WITH CHECK ADD  CONSTRAINT [FK_MedicalRecords_Appointments] FOREIGN KEY([AppointmentID])
REFERENCES [dbo].[Appointments] ([ID])
GO
ALTER TABLE [dbo].[MedicalRecords] CHECK CONSTRAINT [FK_MedicalRecords_Appointments]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Patients_People] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([ID])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_Patients_People]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_People] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([ID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_People]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([ID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
/****** Object:  StoredProcedure [app].[Delete_Appointment]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Delete_Appointment
CREATE PROCEDURE [app].[Delete_Appointment]
    @ID INT
AS
BEGIN
    DELETE FROM [dbo].[Appointments]
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [app].[Get_AppointmentByID]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Get_AppointmentByID
CREATE PROCEDURE [app].[Get_AppointmentByID]
    @ID INT
AS
BEGIN
    SELECT * FROM [dbo].[Appointments] 
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [app].[GetAll_Appointment]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. Get_AllAppointment
CREATE PROCEDURE [app].[GetAll_Appointment]
AS
BEGIN
    SELECT * FROM [dbo].[Appointments] 
END
GO
/****** Object:  StoredProcedure [app].[Insert_Appointment]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. Insert_Appointment
CREATE PROCEDURE [app].[Insert_Appointment]
    @PatientID INT,
    @Datetime DATE,
    @status TINYINT,
    @Notes NVARCHAR(100) = NULL,
    @DoctorID INT,
    @MedicalRecordID INT = NULL,
    @InvoiceID INT = NULL,
    @NewID INT OUTPUT
AS
BEGIN
    INSERT INTO [dbo].[Appointments] (PatientID, Datetime, status, Notes, DoctorID, MedicalRecordID, InvoiceID)
    VALUES (@PatientID, @Datetime, @status, @Notes, @DoctorID, @MedicalRecordID, @InvoiceID);

    SET @NewID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [app].[Update_Appointment]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Update_Appointment
CREATE PROCEDURE [app].[Update_Appointment]
    @ID INT,
    @PatientID INT,
    @Datetime DATE,
    @status TINYINT,
    @Notes NVARCHAR(100),
    @DoctorID INT,
    @MedicalRecordID INT,
    @InvoiceID INT
AS
BEGIN
    UPDATE [dbo].[Appointments]
    SET PatientID = @PatientID,
        Datetime = @Datetime,
        status = @status,
        Notes = @Notes,
        DoctorID = @DoctorID,
        MedicalRecordID = @MedicalRecordID,
        InvoiceID = @InvoiceID
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [doc].[Delete_Doctor]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [doc].[Delete_Doctor]
    @ID INT
AS
BEGIN
    DELETE FROM Doctors
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [doc].[Get_DoctorsByID]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [doc].[Get_DoctorsByID]
@id int
AS
BEGIN
    SELECT * FROM Doctors where ID=@id;
END
GO
/****** Object:  StoredProcedure [doc].[GetAll_Doctors]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [doc].[GetAll_Doctors]
AS
BEGIN
    SELECT * FROM Doctors;
END
GO
/****** Object:  StoredProcedure [doc].[GetAll_DoctorsView]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [doc].[GetAll_DoctorsView]
AS
    SELECT * FROM DoctorsView;


GO
/****** Object:  StoredProcedure [doc].[Insert_Doctor]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [doc].[Insert_Doctor]
    @PersonID INT,
    @Specialization NVARCHAR(50),
    @Notes NVARCHAR(100),
    @Available BIT,
    @NewID INT OUTPUT
AS
BEGIN
    INSERT INTO Doctors (PersonID, Specialization, Notes, Available)
    VALUES (@PersonID, @Specialization, @Notes, @Available);

    SET @NewID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [doc].[Update_Doctor]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [doc].[Update_Doctor]
    @ID INT,
    @PersonID INT,
    @Specialization NVARCHAR(50),
    @Notes NVARCHAR(100),
    @Available BIT
AS
BEGIN
    UPDATE Doctors
    SET PersonID = @PersonID,
        Specialization = @Specialization,
        Notes = @Notes,
        Available = @Available
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [inv].[Delete_Invoice]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [inv].[Delete_Invoice]
    @ID INT
AS
BEGIN
    DELETE FROM [dbo].[Invoices]
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [inv].[Get_InvoiceByID]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [inv].[Get_InvoiceByID]
    @ID INT
AS
BEGIN
    SELECT * FROM [dbo].[Invoices]
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [inv].[GetAll_Invoices]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [inv].[GetAll_Invoices]
AS
BEGIN
    SELECT * FROM [dbo].[Invoices];
END
GO
/****** Object:  StoredProcedure [inv].[Insert_Invoice]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [inv].[Insert_Invoice]
    @Date DATE,
    @Amount DECIMAL(8, 2),
    @Method TINYINT,
    @Status TINYINT,
    @NewID INT OUTPUT
AS
BEGIN
    INSERT INTO [dbo].[Invoices] (Date, Amount, Method, Status)
    VALUES (@Date, @Amount, @Method, @Status);

    SET @NewID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [inv].[Update_Invoice]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [inv].[Update_Invoice]
    @ID INT,
    @Date DATE,
    @Amount DECIMAL(8, 2),
    @Method TINYINT,
    @Status TINYINT
AS
BEGIN
    UPDATE [dbo].[Invoices]
    SET Date = @Date,
        Amount = @Amount,
        Method = @Method,
        Status = @Status
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [med].[Delete_MedicalRecord]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [med].[Delete_MedicalRecord]
    @ID INT
AS
BEGIN
    DELETE FROM [dbo].[MedicalRecords]
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [med].[Get_MedicalRecordByID]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [med].[Get_MedicalRecordByID]
    @ID INT
AS
BEGIN
    SELECT * FROM [dbo].[MedicalRecords]
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [med].[GetAll_MedicalRecords]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [med].[GetAll_MedicalRecords]
AS
BEGIN
    SELECT * FROM [dbo].[MedicalRecords];
END
GO
/****** Object:  StoredProcedure [med].[Insert_MedicalRecord]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [med].[Insert_MedicalRecord]
    @AppointmentID INT,
    @Diagnosis NVARCHAR(250),
    @Prescription NVARCHAR(250) = NULL,
    @Notes NVARCHAR(250) = NULL,
    @NewID INT OUTPUT
AS
BEGIN
    INSERT INTO [dbo].[MedicalRecords] (AppointmentID, Diagnosis, Prescription, Notes)
    VALUES (@AppointmentID, @Diagnosis, @Prescription, @Notes);

    SET @NewID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [med].[Update_MedicalRecord]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [med].[Update_MedicalRecord]
    @ID INT,
    @AppointmentID INT,
    @Diagnosis NVARCHAR(250),
    @Prescription NVARCHAR(250),
    @Notes NVARCHAR(250)
AS
BEGIN
    UPDATE [dbo].[MedicalRecords]
    SET AppointmentID = @AppointmentID,
        Diagnosis = @Diagnosis,
        Prescription = @Prescription,
        Notes = @Notes
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [pat].[Delete_Patient]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Delete_Patient
CREATE PROCEDURE [pat].[Delete_Patient]
    @ID INT
AS
BEGIN
    DELETE FROM [dbo].[Patients]
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [pat].[Get_PatientByID]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. Get_PatientByID
CREATE PROCEDURE [pat].[Get_PatientByID]
    @ID INT
AS
BEGIN
    SELECT ID,Notes,PersonID,Status , Age FROM [dbo].[Patients] 
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [pat].[GetAll_Patients]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. GetAll_Patients
CREATE PROCEDURE [pat].[GetAll_Patients]
AS
BEGIN
    SELECT ID,Notes,PersonID,Status , Age FROM [dbo].[Patients];
END
GO
/****** Object:  StoredProcedure [pat].[GetAll_PatientsView]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [pat].[GetAll_PatientsView]
AS
    SELECT * FROM Patientsview;


GO
/****** Object:  StoredProcedure [pat].[Insert_Patient]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. Insert_Patient
CREATE PROCEDURE [pat].[Insert_Patient]
    @PersonID INT,
    @Status TINYINT,
    @Age TINYINT = NULL,
    @Notes NVARCHAR(250) = NULL,
    @NewID INT OUTPUT
AS
BEGIN
    INSERT INTO [dbo].[Patients] (PersonID, Status, Age, Notes)
    VALUES (@PersonID, @Status, @Age, @Notes);

    SET @NewID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [pat].[Update_Patient]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Update_Patient
CREATE PROCEDURE [pat].[Update_Patient]
    @ID INT,
    @Status TINYINT,
    @Age TINYINT,
    @Notes NVARCHAR(250)
AS
BEGIN
    UPDATE [dbo].[Patients]
    SET 
        Status = @Status,
        Age = @Age,
        Notes = @Notes
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [ppl].[Delete_People]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [ppl].[Delete_People] @ID INT
AS DELETE FROM People WHERE ID=@ID;

GO
/****** Object:  StoredProcedure [ppl].[GetALL_People]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [ppl].[GetALL_People]
as SELECT ID,FirstName,SecondName,LastName,Phone,Email FROM People;

GO
/****** Object:  StoredProcedure [ppl].[GetByID_People]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [ppl].[GetByID_People]
@id int
as
SELECT ID,FirstName,SecondName,LastName,Phone,Email FROM People where ID =@id;

GO
/****** Object:  StoredProcedure [ppl].[Insert_People]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [ppl].[Insert_People]
    @FirstName NVARCHAR(50), 
    @SecondName NVARCHAR(50), 
    @LastName NVARCHAR(50),
    @Phone NVARCHAR(250), 
    @Email NVARCHAR(250),
    @NewID INT OUTPUT -- إضافة معامل مخرج
AS
BEGIN
    -- من الأفضل دائماً ذكر أسماء الأعمدة لتجنب الأخطاء في حال تغير ترتيب الجدول
    INSERT INTO People (FirstName, SecondName, LastName, Phone, Email)
    VALUES (@FirstName, @SecondName, @LastName, @Phone, @Email);

    -- الحصول على الـ ID الذي تم إنشاؤه تلقائياً
    SET @NewID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [ppl].[Update_People]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [ppl].[Update_People]
 @ID INT,@FirstName NVARCHAR(50),@SecondName NVARCHAR(50),
 @LastName NVARCHAR(50),@Phone NVARCHAR(250),@Email NVARCHAR(250)
AS
UPDATE People SET FirstName=@FirstName,SecondName=@SecondName,
LastName=@LastName,Phone=@Phone,Email=@Email WHERE ID=@ID;

GO
/****** Object:  StoredProcedure [rol].[Delete_Role]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6. Delete Role
CREATE PROCEDURE [rol].[Delete_Role]
    @ID INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Roles
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [rol].[Get_RoleByID]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Get Role By ID
CREATE PROCEDURE [rol].[Get_RoleByID]
    @ID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT ID, RoleName
    FROM Roles
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [rol].[GetAll_Roles]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Get All Roles
CREATE PROCEDURE [rol].[GetAll_Roles]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT ID, RoleName
    FROM Roles;
END
GO
/****** Object:  StoredProcedure [rol].[Insert_Role]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Insert Role
CREATE PROCEDURE [rol].[Insert_Role]
    @RoleName NVARCHAR(150)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Roles (RoleName)
    VALUES (@RoleName);

    SELECT SCOPE_IDENTITY() AS NewID;
END
GO
/****** Object:  StoredProcedure [rol].[Update_Role]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. Update Role
CREATE PROCEDURE [rol].[Update_Role]
    @ID INT,
    @RoleName NVARCHAR(150)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Roles
    SET RoleName = @RoleName
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [usr].[Delete_User]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [usr].[Delete_User]
    @ID INT
AS
BEGIN
    DELETE FROM Users
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [usr].[Get_UserByID]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [usr].[Get_UserByID]
    @ID INT
AS
BEGIN
    SELECT  ID,UserName,Active,LastSeen,RoleID,PersonID,Password
    FROM Users
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [usr].[GetAll_Users]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [usr].[GetAll_Users]
AS
BEGIN
   SELECT PersonID, ID , UserName , Active , LastSeen , RoleID FROM Users
END
GO
/****** Object:  StoredProcedure [usr].[GetAll_UsersView]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [usr].[GetAll_UsersView]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        *
    FROM UsersView;
END
GO
/****** Object:  StoredProcedure [usr].[GetUserByUserName]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [usr].[GetUserByUserName] 
@UserName nvarchar(250)
AS
BEGIN
    SELECT ID, PersonID, UserName, Password, Active, LastSeen ,RoleID
    FROM Users
    WHERE UserName = @UserName;
END
GO
/****** Object:  StoredProcedure [usr].[GetUserPassword]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [usr].[GetUserPassword]
    @UserName NVARCHAR(50),
	@Id int
    
AS
BEGIN
    SELECT Password FROM Users
    WHERE UserName = @UserName and @Id = ID;
END
GO
/****** Object:  StoredProcedure [usr].[Insert_User]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [usr].[Insert_User]
    @PersonID INT,
    @UserName NVARCHAR(50),
    @Password NVARCHAR(250),
    @Active BIT,
    @LastSeen DATETIME = NULL, -- اختياري عند الإنشاء
	@RoleID int = null,
    @NewID INT OUTPUT
AS
BEGIN
    INSERT INTO Users (PersonID, UserName, Password, Active, LastSeen , RoleID)
    VALUES (@PersonID, @UserName, @Password, @Active, @LastSeen , @RoleID );

    SET @NewID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [usr].[IsUserNameExist]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [usr].[IsUserNameExist] 
@UserName nvarchar(50)
AS
BEGIN
    SELECT 1
    FROM Users
    WHERE UserName = @UserName;
END
GO
/****** Object:  StoredProcedure [usr].[LoginUser]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [usr].[LoginUser]
    @Username NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    -- سنجلب البيانات والهاش الكامل (السالت والهاش مدمجين) بناءً على اسم المستخدم فقط
    SELECT ID, UserName, Active, LastSeen, [Password] AS StoredHash
    FROM Users  
    WHERE UserName = @Username;
END
GO
/****** Object:  StoredProcedure [usr].[Update_User]    Script Date: 10/5/2026 5:15:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [usr].[Update_User]
    @ID INT,
    @UserName NVARCHAR(50),
    @Active BIT,
    @LastSeen DATETIME,
	@RoleID int,
	@PersonID int
AS
BEGIN
    UPDATE Users
    SET 
  UserName = @UserName,
        Active = @Active,
        LastSeen = @LastSeen
		,RoleID = @RoleID,
		PersonID =@PersonID
    WHERE ID = @ID;
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Pending =1 / Cancelled =2 / Completed = 3' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Appointments', @level2type=N'COLUMN',@level2name=N'status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'cach =1;visa = 2 ; bank Transfer = 3' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Method'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1 pending / 2 paid / 3 cancelled / 4 overdue' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1 = new / 2 = active / 3 = incative / 4 = Blocked' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Patients', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Doctors"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "People"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 136
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'DoctorsView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'DoctorsView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "u"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 199
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "p"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 185
               Right = 429
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Roles"
            Begin Extent = 
               Top = 6
               Left = 467
               Bottom = 134
               Right = 637
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'UsersView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'UsersView'
GO
USE [master]
GO
